// =============================================================================
// Component: Navigation
// =============================================================================

.navigation {
  &__items {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
    text-transform: uppercase;

    @include media('>small') {
      display: list-item;
      list-style: none;
    }
  }

  &__item {
    @include type-branding;
    @include media('>small') {
      margin-left: 1em;

      &:first-child {
        margin-left: 0;
      }
    }

    display: inline-block;
    font-weight: 100;
    text-transform: lowercase;
  }

  &__link {
    color: $color-white;
    transition: text-decoration $animation-transition;

    @include hocus {
      color: inherit;
    }
  }
}

.site-navigation {
  position: absolute;
  top: 2rem;
  z-index: 2;
  left: 0;
  right: 0;

  .logo {
    margin-left: auto;
    margin-right: auto;
    opacity: 0.5;

    a {
      height: 100%;
      width: 100%;
      display: block;
    }
  }
}
