/*
---
name: Post Items
category: Components
---

```example.html

    <div class="container">
        <article class="posts-item">
            <h2 class="posts-item__title">
                <a class="posts-item__link" href="/blog/visual-studio-code-think-one/">Visual Studio Code – I think this is the one!</a>
            </h2>
            <span class="posts-item__meta">2017 Jan 16</span>
        </article>

        <article class="posts-item">
            <h2 class="posts-item__title">
                <a class="posts-item__link" href="/blog/dynamic-hosts-nginx/">Dynamic Hosts with Nginx</a>
            </h2>
            <span class="posts-item__meta">2016 Dec 10</span>
        </article>

        <article class="posts-item">
            <h2 class="posts-item__title">
                <a class="posts-item__link" href="/blog/blue-november-51-weeks-get/">Blue November: 51 Weeks to Get Here…</a>
            </h2>
            <span class="posts-item__meta">2016 Nov 13</span>
        </article>
    </div>

```
*/

.posts-item {
    $spacing: 2rem;

    @include media('>small') {
        display: grid;
    }

    grid-template-columns: 5em auto;
    margin-bottom: $spacing;

    &:last-child {
        margin-bottom: 0;
    }

    &__title,
    &__meta {
        align-self: center;
    }

    &__title {
        @include font-size(30px, .8em);

        line-height: 1.15em;
    }

    &__meta {
        @include font-size(12px);

        grid-column-start: 1;
        grid-row-start: 1;
        font-weight: 100;
    }

    &__link {
        @include hocus {
            background-color: rgba($color-brand, $color-brand-opacity);
            color: inherit;
            border-bottom-color: transparent;
        }

        @include media('>small') {
            padding-left: .2em;
            padding-right: .2em;
        }

        color: $color-white;
        display: block;
        text-decoration: none;
        transition: background-color $animation-transition;
    }
}
