// =============================================================================
// Component: Content
// =============================================================================
// - .content
// - .content-header
// - Documentation

.content {
  > {
    p,
    blockquote,
    ul,
    ol,
    pre {
      max-width: 53ch;
      margin-left: auto;
    }

    ul,
    ol {
      padding-left: 0;
    }

    h2 {
      margin-bottom: 0.5em;
      margin-top: 1.5em;
    }

    p {
      margin-bottom: 1em;
    }
  }

  // img {
  //     max-width: 100%;
  // }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
  }

  div,
  .oversize {
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .hljs {
    margin-bottom: -0.5em;
    margin-left: -1em;
    margin-right: -1em;
    margin-top: -0.5em;
    padding-left: 1em;
    padding-right: 1em;
  }
}

.content-header {
  background-image: linear-gradient(
    rgba($color-brand, 0.25),
    rgba($color-brand, 0.1)
  );
  background-position: center;
  background-size: cover;
  position: relative;

  > {
    h1,
    p {
      @include container;
    }
  }

  &--image {
    padding-top: 10rem;
    padding-bottom: 4rem;

    &::before {
      background-image: linear-gradient(
        rgba($color-black, 0.7),
        $color-base-background 90%
      );
      bottom: 0;
      content: '';
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 0;
    }

    > * {
      position: relative;
      z-index: 1;
    }
  }

  &__date {
    @include type-branding;
  }
}

// =============================================================================

/*
---
name: Content
category: Components
---

```example.html

  <div class="content">
    <h1>Header One</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
      eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
      ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
      aliquip ex ea commodo consequat.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
      eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
      ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
      aliquip ex ea commodo consequat.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
      eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
      ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
      aliquip ex ea commodo consequat.
    </p>
    <h2>Header Two</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
      eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
      ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
      aliquip ex ea commodo consequat.
    </p>
    <h3>Header Three</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
      eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </p>
    <ul>
      <li>Unordered List</li>
      <li>Unordered List</li>
      <li>Unordered List</li>
      <li>Unordered List</li>
    </ul>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
      eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </p>
    <ol>
      <li>Ordered List</li>
      <li>Ordered List</li>
      <li>Ordered List</li>
      <li>Ordered List</li>
    </ol>
    <h2>Blockquote</h2>
    <blockquote>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </blockquote>
  </div>
```
*/
