.pagination {
  @include font-size(25px);
  @include type-branding;

  font-weight: 100;
  margin-top: 2em;
  text-transform: lowercase;

  &--all {
    text-align: center;

    &::before {
      content: '[';
    }

    &::after {
      content: ']';
    }
  }

  &__link {
    color: $color-white;
    text-decoration: none;
  }
}
