// =============================================================================
// Setting: Animation
// =============================================================================

$animation-duration: 0.5s !default;
$animation-function: ease !default;

$animation-transition: $animation-duration $animation-function;
