<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="/index.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Exo:100,300" rel="stylesheet">
  <title>WolfieZero.com</title>
</head>

<body>
  <navigation class="site-navigation">
    <div class="logo"><a href="/">WolfieZero.com</a></div>
  </navigation>

  <main>
    <article>
      <header class="content-header content-header--image" style="background-image: url('{{ header }}');">
        <h1 class="content-header__title">{{ title }}</h1>
        <p class="content-header__date">January 16 2017</p>
      </header>
      <div class="content container">
        {{ content | safe }}
      </div>
    </article>
  </main>

  <footer class="footer container section">
    <p>code on <a href="https://github.com/wolfiezero/wolfiezero.com">GitHub</a></p>
    <p>Copyright Neil Sweeney</p>
  </footer>
</body>

</html>
