// =============================================================================
// Object: Section
// =============================================================================

.section {
    $size: 5em;

    margin-bottom: $size;
    margin-top: $size;

    @include media('>small') {
        $size: 7.5em;

        margin-bottom: $size;
        margin-top: $size;
    }
}
